*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

}

section .imgbox{
    position: relative;
    width: 50%;
    height: 100%;
    
}

section .imgbox::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: linear-gradient(225) ;

}


section .imgbox img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 98%;
    height: 100%;
    object-fit: cover;
}

section .container{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content:center ;
    align-items: center;
}

section .formbox{
    width: 50%;

}

section .container .formbox h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    letter-spacing: 1px;
}

section.container .formbox .inputbox{
    margin-bottom: 20px;
}

section.container .formbox .inputbox span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .container .formbox .inputbox input{
    width: 100%;
    padding: 10px 20px ;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section .container .formbox .inputbox input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
section .container .formbox .remmber{
margin-bottom: 10px;
color:#607d8b ;
font-weight:400;
font-size: 14px;
}

section .container .formbox .inputbox p{
color: #607d8b ;
}
section .container .formbox .inputbox p a {
    color: #607d8b ;
    }


